@font-face {
  font-family: "marck_scriptregular";
  src: url("../fonts/marckscript-regular.woff2") format("woff2"),
    url("../fonts/marckscript-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neucharegular";
  src: url("../fonts/neucha-regular.woff2") format("woff2"),
    url("../fonts/neucha-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratbold";
  src: url("../fonts/montserrat-bold.woff2") format("woff2"),
    url("../fonts/montserrat-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratmedium";
  src: url("../fonts/montserrat-medium.woff2") format("woff2"),
    url("../fonts/montserrat-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratsemibold";
  src: url("../fonts/montserrat-semibold.woff2") format("woff2"),
    url("../fonts/montserrat-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratregular";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pacificoregular";
  src: url("../fonts/pacifico-regular.woff2") format("woff2"),
    url("../fonts/pacifico-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "second_roadnormal";
  src: url("../fonts/.ru_second_road.woff2") format("woff2"),
    url("../fonts/.ru_second_road.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
