@mixin marck {
  font-family: "marck_scriptregular";
}
@mixin nuech {
  font-family: "neucharegular";
}
@mixin m700 {
  font-family: "montserratbold";
}
@mixin m500 {
  font-family: "montserratmedium";
}
@mixin m600 {
  font-family: "montserratsemibold";
}
@mixin m400 {
  font-family: "montserratregular";
}
@mixin pacifico {
  font-family: "pacificoregular";
}
@mixin secroad {
  font-family: "second_roadnormal";
}

$gray: #f6f4f1;
$blue: #0087c9;
$text: #8a8a8a;
