@import "global";
@import "vars";
@import "fonts";

// start header
.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 1080px;
  text-align: center;
  &__logo {
    margin-bottom: 105px;
  }
  &__title {
    font-size: 93px;
    @include m600;
    color: #fff;
  }
}
.menu {
  padding-top: 80px;
  margin-bottom: 245px;
  &__list {
    li {
      display: inline-block;

      & + li {
        margin-left: 56px;
        position: relative;
        &::before {
          content: "";
          width: 6px;
          height: 6px;
          background-color: #fff;
          border-radius: 50%;
          position: absolute;
          top: 9px;
          left: -26px;
        }
      }
    }
  }
  a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    @include m600;
    font-size: 24px;
    transition: all 0.5s;
    padding-bottom: 5px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 0;
      height: 4px;
      border-radius: 3px;
      bottom: -5px;
      background-color: #fff;
      transition: width 0.3s ease;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}
// end header

// start info
.info {
  background-color: $gray;
  position: relative;
  min-height: 700px;
}
.info__inner {
  max-width: 1650px;
  background-color: #fff;
  position: absolute;
  top: -60px;
  left: auto;
  right: auto;
  box-shadow: 0px 6px 11.04px 0.96px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
}
.info__item {
  display: flex;
  height: 402px;
  text-align: center;
  width: 100%;
  border-radius: 7px;
  &-image {
    border-top-left-radius: 7px;
    background-image: url(../images/info-1.jpg);
    height: 402px;
    min-width: 1048px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }
  .info__item-abc {
    background-image: url(../images/info-2.jpg);
    min-width: 600px;
    width: 100%;
    border-bottom-right-radius: 7px;
  }
  &-title {
    color: $blue;
    @include pacifico;
    font-size: 72px;
    line-height: 80px;
    padding-top: 20px;
  }
  &-text {
    padding-top: 20px;
    font-size: 21px;
    @include m400;
    color: $text;
    line-height: 30px;
    padding: 30px 100px 0;
  }
  .info__item-about {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    padding-top: 70px;
  }
  &-btn {
    display: inline-block;
    color: $blue;
    margin-top: 40px;
    @include m600;
    font-size: 24px;
    padding: 24px 40px;
    border: 4px solid $blue;
    border-radius: 3px;
    transition: all 0.3s;
    &:hover {
      color: #fff;
      background-color: $blue;
    }
  }
}
// end info
// start specialist
.specialist {
  background-repeat: no-repeat;
  background-size: cover;
  height: 996px;
}
.specialist__title {
  @include secroad;
  font-size: 270px;
  color: #fff;
  text-align: center;
  line-height: 150px;
  padding-top: 270px;
  position: relative;
}
// end specialist

// start products__menu
.products__menu {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1714px;
}
.products__menu-title {
  @include marck;
  font-size: 210px;
  text-align: center;
  line-height: 200px;
  position: relative;
  &::before {
    content: "";
    background-color: #d9edf7;
    width: 138px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 47%;
    right: 50%;
  }
}
.products__menu-subtitle {
  text-align: center;
  margin-top: 67px;
  font-size: 30px;
  text-transform: uppercase;
  color: #878787;
  @include m600;
  margin-bottom: 65px;
}
.product__row {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  z-index: 1;
}
.product__col {
  background-color: rgba(110, 110, 110, 0.1);
  padding: 5px;
  border-radius: 10px;
}
.product__box {
  display: flex;
  align-items: center;
  & + .product__box {
    padding-top: 50px;
  }
}
.product__item {
  max-width: 500px;

  &-title {
    font-size: 27px;
    @include m600;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &-text {
    color: #393939;
    line-height: 20px;
    span {
      display: block;
      @include m600;
    }
  }
}
.product__row {
  padding-bottom: 50px;
}
.product-price {
  font-size: 85px;
  @include m700;
  color: $blue;
  padding-left: 10px;
  span {
    @include m400;
    font-size: 48px;
  }
}
.products__menu {
  position: relative;
  z-index: 0;
}
.products__wrapper {
  position: relative;
  z-index: 5;
}
.products__food {
  &-left {
    position: absolute;
    left: 0;
    z-index: 0;
    top: 30%;
  }
  &-right {
    position: absolute;
    right: 0;
    top: 44%;
    z-index: 0;
  }
  &-left-top {
    position: absolute;
    left: 0;
    top: -150px;
  }
  &-left-bottom {
    position: absolute;
    bottom: -80px;
    left: 0;
  }
  &-right-top {
    position: absolute;
    top: -100px;
    right: 0;
  }
  &-right-bottom {
    right: 0;
    bottom: -50px;
    position: absolute;
  }
  &-center-bottom {
    position: absolute;
    left: 43%;
    // right: 50%;
    bottom: -20px;
  }
}
// end products__menu

// start delivery
.delivery {
  background-repeat: no-repeat;
  background-size: cover;
  height: 979px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    @include secroad;
    font-size: 270px;
    color: #fff;
    text-align: center;
    line-height: 170px;
    span {
      display: block;
    }
  }
}
// end delivery
// start footer
.footer__top {
  background-repeat: no-repeat;
  background-size: cover;
  height: 1259px;
  position: relative;
  &__box {
    max-width: 1650px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: -50px;
    left: auto;
    right: auto;
    box-shadow: 0px 6px 11.04px 0.96px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
  }
  &__box-title {
    font-size: 100px;
    line-height: 140px;
    text-align: center;
    @include marck;
    padding-top: 35px;
    padding-bottom: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 45%;
      right: auto;
      bottom: 40px;
      background-color: $blue;
      width: 140px;
      height: 7px;
      border-radius: 4px;
    }
  }
}
.footer__box-items {
  display: flex;
  justify-content: space-between;
  padding: 30px 110px 0;
  .footer__box-item {
    margin-bottom: 80px;
  }
  .footer__item-locate {
    @include m600;
    color: #878787;
    font-size: 30px;
    a {
      color: #878787;
    }
    span {
      display: block;
      @include m400;
      margin-bottom: 30px;
    }
  }
  .footer__item-tel {
    color: #878787;
    font-size: 30px;
    @include m600;
  }
  .footer__item-btn {
    color: $blue;
    display: block;
    border: 3px solid $blue;
    max-width: 400px;
    text-transform: uppercase;
    font-size: 24px;
    @include m500;
    padding: 20px 50px;
    border-radius: 10px;
    span {
      display: block;
      text-align: center;
    }
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 30px;
}
.footer__contacts {
  padding-top: 70px;
  &-title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 60px;
    @include m600;
    margin-bottom: 40px;
  }
  &-subtitle {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    max-width: 370px;
    text-transform: uppercase;
    font-size: 27px;
    @include m600;
    margin-bottom: 55px;
  }
  &-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      border: none;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 6px;
      height: 86px;
      width: 800px;
    }
    button {
      background-color: $blue;
      margin-left: 40px;
      color: #fff;
      text-transform: uppercase;
      border: none;
      font-size: 24px;
      @include m600;
      padding: 28px 20px;
      border-radius: 6px;
    }
  }
}
.footer__copy {
  background-color: #272727;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  &-title {
    font-size: 26px;
    @include m400;
    text-transform: uppercase;
  }
  &-text {
    padding-top: 40px;
    font-size: 20px;
    text-transform: uppercase;
  }
}
// end footer
